.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 0.5px solid rgba(255 , 255 , 255 , 0.5);
    cursor: pointer;
}

button span{
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(180 , 180 , 180 , 0.08);
}

.history{
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: 10px solid transparent;
    position: relative;
}

.history li:hover{
    background-color: rgba(180 , 180 , 180 , 0.08);
    border-radius: 10px;
}

.sign{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 0.25px solid rgba(255 , 255 , 255 , 0.5);
}


.fa-trash{
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash{
    opacity: 1;
    color: white;
}

.fa-trash:hover{
    color: red !important;
}

.selectedThread{
    background-color: rgba(180 , 180 , 180 , 0.05);
    border-radius: 10px;
}